<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h1{
            text-align: center;
            color: orangered;
        }
        body{
            background-color: wheat
        }
        h2{
            color: rgba(255, 68, 0, 0.599);
        }
    </style>
</head>
<body>
    <h1>Food</h1>

    <div class="outerdiv">
        <div class="briyani">
            <h2>Briyani</h2>
            <ul>
                <li>Chicken Briyani</li>
                <li>Mutton Briyani</li>
                <li>Veg Briyani</li>
            </ul>
        </div>
        <div class="pizza">
            <h2>Pizza</h2>
            <ul>
                <li>Chicken Pizza</li>
                <li>Paneer Pizza</li>
                <li>Veg Pizza</li>
            </ul>
        <div class="burger">
            <h2>Burger</h2>
            <ul>
                <li>Chicken Burger</li>
                <li>Veg Burger</li>
                <li>Cheese Burger</li>
            </ul>
        </div>
    </div>

    
</body>
</html>