{% extends 'dummy.html'%}

{% block title %}
    <title>Home</title>
{% endblock%}

{% block body_block %}
    
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="un">Username</label>
            <input type="text" name="un" id="un">
            <br><br>
            <label for="forgetpw">New Password</label>
            <input type="password" name="forgetpw" id="forgetpw">
            <br><br>
            <input type="submit">
        </form>
    </center>
    
{% endblock %}