{% extends 'dummy.html'%}

{% block title %}
<title>User Login Page</title>
{% endblock %}

{% block body_block %}

 <center>
    <h1>User Login </h1>
    <form  method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <br><br>
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br><br>

        <label for="forgetpw"></label>
        <a href="{% url 'forget_password' %}">
            <input type="button" value="Forget Password">
        </a>

        <br><br>

        <input type="submit" value="Login">
    </form>
 </center>
{% endblock %}