{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP1</title>
    <link rel="stylesheet" href="{% static  'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>This is APP 1 </h1>
        <img src="{% static 'images/lufy.jpg' %}" alt="" srcset="" height="300px" width="300px">
    </center>
    <!-- <img src="{% static 'app1/static/images/luffy2.jpg' %}" alt="" srcset="" width="500px" height="500px"> -->

</body>
</html>