<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}   </style>
</head>
<body>
    <center>
        <h1>EmpToMgr</h1>
        <table class = 'container'>
            <tr>
                <th>EmpNo</th>
                <th>EmpName</th>
                <th>EmpSal</th>
                <th>DeptNo</th>
                <th>DeptName</th>
                <th>DeptLoc</th>

                <th>Mgr No</th>
                <th>Mgr Name</th>
                <th>Mgr Job</th>
                <th>Mgr Manager</th>
                <th>Mgr Sal</th>
            </tr>
            {% for EDO in QSLEDO %}
            <tr>
                <td>{{EDO.empno}}</td>
                <td>{{EDO.ename}}</td>
                <td>{{EDO.sal}}</td>
                <td>{{EDO.deptno.deptno}}</td>
                <td>{{EDO.deptno.dname}}</td>
                <td>{{EDO.deptno.dlocation}}</td>

                <td>{{ EDO.mgr.empno }}</td>
                <td>{{ EDO.mgr.ename }}</td>
                <td>{{ EDO.mgr.job }}</td>
                <td>{{ EDO.mgr.mgr }}</td>
                <td>{{ EDO.mgr.sal }}</td>
                
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>