<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Checkbox</h1>
        <form method="POST" action="{% url 'select_multiple' %}" >
            {% csrf_token %}
            {% for TO in QLTO %}
            {{ TO.topic_name }}
            <input type="checkbox" name="topic" id="topic" value="{{TO.topic_name}}">
            <br><br>
            {% endfor %}

            <input type="submit">

        </form>
    </center>
</body>
</html>